.Events h1{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-top: 1px solid var(--blue); */
    margin-top: 50px;
    color: var(--blue);
    padding: 0 var(--paddingLeftRight);
}

.EventsEvent {
    padding: 0 var(--paddingLeftRight);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3%;
    padding-bottom: 5%;
}

.Event {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.TypeOne {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(128deg, rgba(1,20,37,1) 0%, rgba(1,69,114,1) 100%);
    box-shadow: 3px 3px 10px 3px var(--lightGreyText);
    color: var(--white);
}

.TypeOne h2 {
    color: var(--white);
}

.TypeOne small {
    color: var(--green);
}

.TypeTwo {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    box-shadow: 3px 3px 10px 3px var(--lightGreyText);
}

.TypeTwo p {
    color: var(--greyText);
}

.TypeOne div h2, .TypeTwo div h2 {
    padding: 0.5rem 1rem 0 1rem;
}

.EventText {
    font-size: 14.08px;
    margin: 0 1rem 1rem 1rem;
}

.TypeOne img, .TypeTwo img {
    max-width: 100%;
    max-height: 100%;
    flex: 0 0 auto;
    object-fit: scale-down;
}

.EventDate {
    text-align: right;
    display: inline-block;
    align-self: flex-end;
    padding: 0 1rem 1rem 1rem;
}

@media screen and (max-width: 1050px) {
    .TypeOne div h2, .TypeTwo div h2 {
        font-size: 36px;
    }
}
@media screen and (max-width: 900px) {
    .EventsEvent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .TypeOne, .TypeTwo {
        margin-bottom: 5%;
        max-width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .AboutText h1{
        font-size: 37px;
    }

    .AboutText h2{
        font-size: 22px;
    }

    .AboutText p{
        font-size: 14px;
    }

}