.MainHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
}

.Intro {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 10%;
    max-width: 50%;
}

.Header h1 {
    color: var(--white);
}

.Header p {
    color: var(--white);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* RESPONZIVITA */
@media screen and (max-width: 1450px) {
    .Header {
        max-width: 60%;
    }
}
@media screen and (max-width: 1250px) {
    /* .Header h1 {
        font-size: 54px;
    } */
}

@media screen and (max-width: 1050px) {
    .Header {
        max-width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .Header {
        max-width: 100%;
        padding-left: 10%;
    }
}

@media screen and (max-width: 550px) {
    /* .Header h1{
        font-size: 37px;
    } */

    .Header p {
        font-size: 16px;
    }

    .Header button {
        font-size: 24px;
    }
    
}