.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--white);
    padding: 0rem 10%;
    
    font-family: var(--font-titles);
    color: var(--white);
}

.Logo {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.Logo img {
    height: 80px;
}

.LogoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 0.5rem;
}

.Menu {
    display: flex;
    flex-direction: row;
}

.Menu img {
    height: 27.5px;
}

.Menu h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 1rem;
}

.homeIcon {
    margin-right: -1rem;
}
/* MOBILNI MENU */

.MenuMobile {
    margin-left: 1rem;

    display: none;
    flex-direction: column;
    justify-content: center;
}

.MenuMobile img {
    height: 27.5px;
}

.MenuMobileText h4 {
    padding: 10px;
}

.MenuMobile svg {
    cursor: pointer;
}

.MenuMobileContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--blue);
    padding: 2rem;
    position: absolute;
    right: 5%;
    top: 60px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(255,255, 255,0.2);
}

.MenuMobileContainer p {
    margin: 1rem 0;
}

/* RESPONZIVITA */

@media screen and (max-width: 1121px) {
    .Navbar {
        padding: 0rem 5%;
    }
}

@media screen and (max-width: 1050px) {
    .Navbar {
        padding: 0rem 4rem;
    }

    .Menu {
        display: none;
    }

    .MenuMobile {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .Navbar {
        padding: 0rem 4rem;
    }

    .LogoText h4{
        font-size: 24px;
    }
}

@media screen and (max-width: 550px) {
    .Navbar {
        padding: 0rem 2rem;
    }

    .Logo img {
        height: 60px;
    }

    .LogoText h4{
        font-size: 20px;
    }
}

