.Cottage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 10%;
}

.Cottage h1 {
    color: var(--blue);
}

.CottageLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

.CottageLeftImg Img{
    display: flex;
    width: 100%;
}

.CottageLeftText {
    background-color: var(--white);
    box-shadow: 3px 3px 10px 3px var(--greyText);
    padding: 2rem;
    width: 80%;
    justify-content: center;
    margin-top: -3rem;
}

.CottageLeft button {
    margin-right: -80%;
    margin-top: -1rem;
}

.CottageRight {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.react-calendar {
    font-family: var(--font-titles);
    padding: 1rem;
    width: auto;
    box-shadow: 3px 3px 10px 3px var(--greyText);
    border: 0;
    max-width: 500px;
}

.react-calendar__tile--now {
    background-color: transparent;
    text-decoration: 3px underline var(--green);
}

.react-calendar__tile--active:enabled:hover, 
.react-calendar__tile--active:enabled:focus {
    background-color: var(--green);
    /* color: var(--blue); */
    /* text-decoration: underline; */
    /* font-weight: 600; */
    /* border: 1px solid var(--blue); */
}

.react-calendar__month-view__days__day--weekend {
    color: black;
    font-weight: 500;
  }

.react-calendar__tile--active, 
.react-calendar__tile--active {
    /* color: var(--blue); */
    background-color: var(--green);
    color: black;
    /* text-decoration: underline; */
}

.react-calendar__month-view__weekdays {
    font-size: 24px;
    font-weight: 600;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
    margin-bottom: 0.5rem;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: var(--lightGreyText);
}

.react-calendar__navigation button{
    font-size: 27.5px;  /* h4 */
}

.CottageFull{
    text-decoration: 3px underline red;
}

abbr[title] {
    text-decoration: none;
}

.CalendarResult{
    padding: 5%;
    padding-bottom: 1rem;
}

@media screen and (max-width: 1050px) {
    .CottageLeftText{
        padding: 1rem;
    }
    .CottageLeftText h1{
        font-size: 56px;
    }
}

@media screen and (max-width: 950px) {
    .Cottage {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .CottageLeft{
        max-width: 100%;
    }

    .CottageRight{
        max-width: 80%;
    }
}

@media screen and (max-width: 550px) {
    .CottageLeftText h1{
        font-size: 37px;
    }

    .Cottage p{
        font-size: 14px;
    }

    .CottageRight button{
        font-size: 24px;
        line-height: 22px;
    }

    .CottageRight{
        max-width: 100%;
    }
}