* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
    font-family: var(--font-titles);
}

p {
    font-size: 17.6px;
    font-family: var(--font-text);
}

small {
    font-size: 14.08px;
    font-family: var(--font-text);
    color: var(--greyText);
}

h1 {
    /* font-size: 67.1px; */
    font-size: clamp(2.313rem, 2vw + 1.75rem, 4.25rem);
    line-height: 100%;
    font-weight: 400;
    font-family: var(--font-titles);
}

h2 {
    font-size: 43px;
    font-weight: 500;
    font-family: var(--font-titles);
}

h4 {
    font-size: 27.5px;
    font-weight: 400;
    line-height: 100%;
    font-family: var(--font-titles);
}

button {
    font-size: 27.5px;
    font-weight: 400px;
    padding: 0rem 1rem;
    margin: 0.5rem;
    border: 0;
    border-radius: 0 15px 0 15px;
    font-family: var(--font-titles);
    cursor: pointer;
}

.BtnTransparent {
    background-color: transparent;
    color: var(--white);
}

.BtnTransparent:hover {
    color: var(--green);
}

.BtnGreen {
    background-color: var(--green);
    color: var(--blue);
}

.BtnGreen:hover{
    background-color: var(--darkGreen);
    color: var(--darkBlue);
}


.foto_bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("./images/Background.png");
    min-height: 90vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.section_padding {
    padding: 4rem 6rem;
}

.section_margin {
    margin: 4rem 6rem;
}

/* ANIMACE */
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  
/* RESPONZIVITA */

@media screen and (max-width: 700px){
    .section_padding {
        padding: 4rem;
    }

    .section_margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 550px){
    .section_padding {
        padding: 4rem 2rem;
    }

    .section_margin {
        margin: 4rem 2rem;
    }
}